{
  "globals": {
    "location": true,
    "window": true,
    "DDLogin": true,
    "React": true,
    "Tooltip": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
